@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Digital';
    src: url('/font/digital-7.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}